- @reports.each do |report|
  = report.registered_at
  = report.name
  = report.bags
= search_form_for(@q,url:search_report_path(@reports)) do|f|

  = f.label :registered_at,"日付で検索"
  = f.date_select :registered_at_gteq
  = f.date_select :registered_at_lteq_end_of_day,  class: "search-input"
  = f.submit "検索", class: "search-btn",type:"submit"
= search_form_for(@q,url:search_report_path(@reports)) do|f|

  = f.label :name_cont,"名前で検索"
  = f.search_field :name_cont,  class: "search-input"
  = f.submit "検索", class: "search-btn",type:"submit"
.return_btn
  = link_to "caddy情報登録ページへ",new_report_path,class:"teacher-details-edit__btn"
  