- @reports.each do |report|
  = report.name
  = report.bags
= form_tag(search_reports_path,local:true, method: :get) do|form|
  = date_select :registered_at,  class: "search-input"
  = button_tag "検索", class: "search-btn",type:"submit"
