
検索した結果はこちら
.contents.row
  = @reports.each do |report|
   
    =link_to reports_path(@report) do
      .caddy-name キャディさんの名前
      = report.name
      .caddy-bags バック数
      = report.bags
.return_btn
  = link_to "caddy情報登録ページへ",new_report_path,class:"teacher-details-edit__btn"
.return_btn
  = link_to "caddy情報検索ページへ",reports_path,class:"teacher-details-edit__btn"
